<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome =1">
    <meta name="wap-font-scale" content="no">
    <title>最新职位</title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=R6z74ksj0r5xRR8rMcoNLr1EkYGKUx5U"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
